#landing-page nav #links{
    font-size: 14px;
    font-weight: 500;
}

#landing-body #right-side img{
    height: 500px;
}

#landing-footer a{
    font-size: 13.5px;
}

#landing-body h1{
    color: #2c2c2c;
    font-size: 112px;
    font-weight: 500;
    font-family: "GT Super Text", Georgia, Cambria, "Times New Roman", Times, serif;
}

#modal-card{
    height: 500px;
    width: 700px;
}

#modal-card h1{
        font-family: "GT Super Text", Georgia, Cambria, "Times New Roman", Times, serif;
}

#modal-footer{
    font-size: 13px;
}

/* #modal-card #sign-up p,#modal-card #sign-up a{
    font-size: 14.5px;
} */