@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

.logo{
    font-family: "Spicy Rice", serif;
    font-size: 28px;
}

#hero-bg{
    background: rgba(255, 255, 255, 0.6);
    height: 100vh;
}

#modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}